:root{
  --bg: #eee;
  --bgImg: ;
  --textColor: black;
  --deleteButton: crimson;
}

.light{
  --bg: #eee;
}

.dark{
  --bg: #121212; 
  --textColor: #fff;
  --deleteButton: #DA9F93;
}
.axiom-pattern{
  --bgImg: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}
.cubes-pattern{
  --bgImg: url("https://www.transparenttextures.com/patterns/cubes.png");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: var(--bg);
  padding: 0 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: background 500ms ease-in-out, background-image 1s cubic-bezier(.32,2,.55,.27);
  background-image: var(--bgImg)
}

header {
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

/* Button styles */

.button-style {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .3rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-style:hover {
  background-color: rgb(249,250,251);
}

.button-style:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-style:focus-visible {
  box-shadow: none;
}




.pickerDiv{
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pickerButtons{
  padding-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
.secondIconNote {
  text-decoration: none;
  color: #f5ba13;
}
.secondIconToDo {
  text-decoration: none;
  color: #124cb1;
}
.secondIconNotebook {
  text-decoration: none;
  color: #dcb084;
}
.secondIconDiv{
display: flex;
justify-content: center;
align-items: center;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin: auto;
  z-index: -1;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}
.todoList button{
  position: relative;
  margin-right: 10px;
  color: #124cb1;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}
.todoList p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  display: inline;
  margin-left: 5px;
}
.todoArea{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 340px;
  min-height: 300px;
  margin: 16px;
  overflow-y: auto;
}
.todosBox{
  margin-top: 50px;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  
}
.todosBox h1{
  color: var(--textColor)
}
form.create-todo{
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-todo > textarea{
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  word-wrap: break-word;
}

.create-todo > .todoBtn1{
  position: absolute;
  right: 18px;
  bottom: -18px;
  background:#124cb1;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.create-todo > .todoBtn2{
  position: absolute;
  right: 72px;
  bottom: -18px;
  background:#124cb1;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.todoList{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note > input,
form.create-note > textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note > button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.orange{
  background-color: #f5ba13;
}
.purple{
  background-color: #124cb1;
}
.notebookColor{
  background-color: #dcb084;
}

/* NOTEBOOK styling */

.NBbutton {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
  font-weight: bold;
}
.NBbutton:hover {
  color: #04c;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */
.app-sidebar h1{
  color: var(--textColor);
}

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  color: var(--deleteButton);
  font-weight: bold;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #08c;
  color: white;
}
.app-sidebar-note p{
  color: var(--textColor);
}
 .sidebar-note-title{
  color: var(--textColor);
 }
/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
}
.app-main-note-edit{
  height: 90vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit>input,
.app-main-note-edit>textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(90vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .pickerDiv{
    width: 200px;
  }
  .pickerButtons{
    justify-content: center;
  }
  .button-style {
   margin: 5px
  }
  .pickerDiv h3{
    font-size: 0.7rem;
    }
  header h1 {
    font-size: 1rem;
  }
  form.create-todo{
    width: 300px;
  }
  form.create-note {
    width: 300px;
  }
}

@media only screen and (max-width: 900px) {
  .pickerDiv{
    width: 300px;
  }
  .pickerDiv h3{
  font-size: 1rem;
  }

  .button-style {
    font-size: 0.7rem;
    padding: .15rem 0.5rem;
  }
  .app-sidebar {
    width: 40%;
  }
  .app-sidebar-header {
   flex-direction: column;
   align-items: center;
  }
  .sidebar-note-title {
   font-size: 0.7rem;
   flex-direction: column;
   align-items: center;
  }
  .app-sidebar-header h1{
    font-size: 1rem;
  }
  .app-sidebar-header button{
    font-size: 0.7rem;
  }
  .app-sidebar-note p {
   font-size: 0.7rem;
  }
  .note-meta{
    font-size: 0.5rem;
  }
  .no-active-note {
    font-size: 1rem;
    width: 60%;
  }

.app-main-note-edit input {
  height: 25px;
  font-size: 1rem;
}
.app-main-note-edit textarea{
  font-size: 0.7rem;
}
.app-main {
  width: 60%;
}
}
